* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

p, img {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: white;
}

.masthead {
	background-image: url('../images/polygon_bg.jpg');
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: cover;
	padding: 3em;
}

.title {
	font-family: 'Montserrat', sans-serif;
	font-size: 3em;
	font-weight: 400;
	letter-spacing: .25em;
	color: white;
	margin-top: 0;
	margin-bottom: 0;
}

.content {
	margin: 0 auto;
	text-align: center;
}

.work .link1 {
	background-color: #b14bee;
}

.grid {
	overflow: hidden;
}

.grid-pad {
	width: 80%;
	margin: 0 auto;
	padding: 4em 0;
}

.grid:after {
	content: "";
	display: table;
	clear: both;
}

.col-1-3 {
	width: 33.33%;
}

.col-1-2 {
	width: 50%;
}

.col-1-2 img {
	width: 100%;
}

[class*='col-'] {
	float: left;
	padding-right: 1px;
}

[class*='col-']:last-of-type {
	padding-right: 0;
}

.nav-module {
	background-color: #d66bf0;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.125em;
	font-weight: 700;
	color: white;
	padding: 1em;
}

.nav-module:hover {
	background-color: #b14bee;
	cursor: pointer;
}

.body-module {
	margin: 0.375em;
	/*Remove if not working*/
	/*width: 702px;*/
	position: relative;
}

.body-module p {
	display: none;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.875em;
	font-weight: 700;
}

.body-module:hover p {
	display: block;
	position: absolute;
	background-color: rgba(88,173,255,.95);
	width: 100%;
	height: 99.5%;
	text-align: center;
	padding-top: 12em;
	cursor: pointer;
	text-decoration: underline;
}

/*.overlay p {
	display: none;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.875em;
	font-weight: 700;
}

.overlay {
	width: 702px;
	position: relative;
}

.overlay:hover p {
	display: block;
	position: absolute;
	background-color: rgba(88,173,255,.95);
	width: 100%;
	height: 99.5%;
	text-align: center;
	padding-top: 11em;
	cursor: pointer;
	text-decoration: underline;
}*/

.img-body {
	border: solid 1px #58adff;
}

.footer {
	background-color: #d66bf0;
	height: 4.063em;
}

.copyright {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.750em;
	font-weight: 400;
	color: white;
	padding-top: 2.25em;
	padding-left: 11.5em;
}